<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="{{ path('app_formation')}}">Liste des formations</a></li>
                <li><a href="{{ path('new_formation')}}">Ajouter une formation</a></li>
                <li><a href="{{ path('app_intern')}}">Liste des interns</a></li>
                <li><a href="{{ path('new_intern')}}">Ajouter une intern</a></li>
                <li><a href="{{ path('app_module')}}">Liste des modules</a></li>
                <li><a href="{{ path('new_module')}}">Ajouter une module</a></li>
                <li><a href="{{ path('app_program')}}">Liste des programs</a></li>
                <li><a href="{{ path('new_program')}}">Ajouter une program</a></li>
                <li><a href="{{ path('app_session')}}">Liste des sessions</a></li>
                <li><a href="{{ path('new_session')}}">Ajouter une session</a></li>
                <li><a href="{{ path('app_category')}}">Liste des categorys</a></li>
                <li><a href="{{ path('new_category')}}">Ajouter une category</a></li>
            </ul>
        </nav>
        {% block body %}{% endblock %}
    </body>
</html>
